:root {
    /* Base colors */
    --main-bg-clear: rgb(211, 211, 211);
    --main-bg-white: white;
    --main-bg-color: rgb(0, 251, 255);
    --main-text-color-light: rgb(0, 251, 255);
    --main-text-color-white: white;
    --main-bg-color-darken: rgb(0, 226, 230);
    --main-bg-color-trsp: rgb(0 251 255 / 32%);
    --main-text-color: #2c3e50;
    --main-text-color-hover: rgb(0, 251, 255);
    /* Inputs colors */
    --main-active-color: rgb(0, 251, 255);
    --main-active-color-trsp: rgb(0, 251, 255 / 30%);
    --main-placeholder-color: lightgray;
    /* Inactive/Disabled */
    --main-inactive-color: gray;
    --main-disabled-color: rgba(142, 142, 142, 0.601);
    /* Status colors */
    --main-error-color: rgb(255, 40, 40);
    --main-success-color: rgb(40, 244, 40);
    /* Sidebar size */
    --sidebar-width: 15rem;
    /* TopNav */
    --topnav-height: 87px;
    --topnav-available: #00c700;
    --topnav-idle: #f8b842;
    --topnav-not-available: #ff0000;
    /* Stats card width */
    --stats-card-width: 300px;
    --body-min-width: 580px;

}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--main-text-color);
    margin:0;
    min-width: var(--body-min-width);
}

.unselectable{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.mainContent {
    margin: 0 auto;
    /*background-color: var(--main-bg-clear);*/
    display: flex;
}

.borders {
    background-color: var(--main-bg-white);
    border: 1px solid var(--main-active-color);
    border-radius: 5px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 5px 5px 5px lightblue;
}

button {
    background-color: var(--main-bg-white);
    color: var(--main-bg-color);
    border: 1px solid var(--main-active-color);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    cursor:pointer;
    transition: 100ms
}

button:hover {
    color: var(--main-bg-white);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-active-color); 
}

button:active {
    border: 1px solid var(--main-active-color);
}

input {
    border: none;
    border-bottom: 1px solid var(--main-inactive-color);
    width: 60%;
    outline:none;
}
input:active, input:focus {
    border-bottom: 1px solid var(--main-active-color);
}

::placeholder {
    color: var(--main-placeholder-color);
    opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--main-placeholder-color);
}

.statusAvailable {
    color : var(--topnav-available);
}
.statusIdle {
    color : var(--topnav-idle);
}
.statusNotAvailable {
    color : var(--topnav-not-available);
}